<div class="col-md-12 text-center">
  <div class="jumbotron">
    <h1>Job Basket</h1>
      <h4>To apply to a job in your basket fill out the form and click apply now</h4>
  </div>
</div>

<div class="container">
  <% if session[:cart] %>

<div class="container">
  <h3>YOUR CART CURRENTLY CONTAINS:</h3>
  <% @listings.each do |listing| %>
  <p><%= listing.title do %>
    <strong><%= listing %></strong><br>
    </p>
    <% end %>
  <% end %>
  <% else %>

  There are no items in the cart

  <% end %>
</div>

  <div style="clear:both;"></div>
</div>
