<div class="adminwrapper">
  <h2>Welcome to the EmployMe Admin area!</h2>
  <p>From here you can manage all sorts of things... don't let the power go to your head!</p>
    <div><%= link_to "ORDERS", orders_path %></div>
    <div><%= link_to "CATEGORIES", categories_path %></div>
    <div><%= link_to "MENU ITEMS", menu_items_path %></div>
  <div style="clear: both;"></div>
</div>
