<div class="jumbotron text-center">
  <h1>Welcome to your Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 portfolio-item">
      Your email is <%= @user.email %>
    </div>
  </div>
</div><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4">
      <%if @business.present?%>
        <h3>Your Business :</h3>
        <h4><%= link_to "#{@business.name}", admin_url(subdomain: "#{@business.slug}") %></h4>
      <%else%>
        Here you can <%= link_to "Create Business", new_business_path %>
      <%end%>
    </div>
  </div>
</div><br><br>
