<div class="col-md-12 text-center">
  <div class="jumbotron">
    <h1>Welcome to your Dashboard <%= @user.full_name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 portfolio-item">
      Your email is <%= @user.email %>
    </div>
  </div>
</div><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4">
      <%if current_user.business_id == nil%>
        Here you can <%= link_to "Create Business", new_business_path %>
      <%else%>
        <h3>Your Business :</h3>
        <h4><%= link_to "#{@business.name}", admin_path, subdomain: "#{@business.slug}" %></h4>
      <%end%>
    </div>
  </div>
</div><br><br>