<%if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
    <a href="#" class="close">&times;</a>
  </div><br/>
<%end%>

<%if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div><br/>
<%end%>

<%if flash[:error] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:error] %>
    <a href="#" class="close">&times;</a>
  </div>
<%end%>


