<div id="container">
  <div id="statement_left">
    <div id="box"><h2>EmployMe</h2>EmployMe is your source for local jobs, career advice, and services to manage your job search, and, more importantly, your career. Whether you are looking for employment today, or researching employment opportunities for tomorrow, EmployMe is here to connect you with hot jobs from some of today's best employers in the most convient way possible. Create an account populate with your data then all you have to do is find a job you like and send your info away. With so many job listings, you are sure to find a job you'll love or our first young.</div>
  </div>
  <div id="list_right">
    <div id="box">
      <ul>
        <h2>RESENT JOB POSTINGS</h2>
        <li>Programmer II</li>
        <li>Developer / Programmer (Junior to Mid level)</li>
        <li>Junior Programmer / Developer</li>
        <li>Programmer Analyst</li>
        <li>Hiring Entry Level Software Programmers</li>
        <li>Programmer </li>
      </ul>
    </div>
  </div>
</div>
<button id="jobs_button" type="button" onclick="alert('HAHAHA GOTCHA!')"><h1>Find Jobs
  NOW!</h1></button>
