<div id='jumbo' class="jumbotron text-center">
  <img src="assets/blue.png" alt="" style="width:500px;height:150px"/>
</div>
<div class="wrapper"><br>
  <div id="fast" class="center" style=''>
    Fastest Way to Find A Job
  </div>
    <button id="jobs_button" type="button" class="btn btn-primary" onclick="window.location.href='/listings'"><h1>Click here <br>Find you dream job now</h1></button>
</div>
