<div id='jumbo' class="jumbotron text-center">
  <img src="assets/blue.png" alt="" style="width:500px;height:150px"/>
</div>
<div class="wrapper"><br>
  <div id="fast" class="center">
    Fastest Way to Find A Job
  </div><br>
  <%= link_to "Find Your Dream Job", listings_path, class: "btn btn-success btn-lg btn-main jobs_button" %>
</div>
