<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Job Applicant</h1>
    <p><h3>
      A user has successfully started the process to apply for a job you listed on EmployMe,
      Now you need to proceed to the site to update the job listing status.
      <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p></h3>
  </body>
</html>
