<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EmployMe, <%= @business.name %></h1>
    <p><h3>
      Your status has changed to <%= if @business.active == true
                                        "ACTIVE"
                                      else
                                        "INACTIVE"
                                      end
                                      %> to EmployMe,
      your username is: <%= @business.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p></h3>
  </body>
</html>
