<footer>
    <p>&copy; 2014 The Pivot &amp; <a href="http://tutorials.jumpstartlab.com/projects/the_pivot.html" target="_new" alt="The Pivot">EmployMe, LLC</a> | 1510 Blake St, Denver, CO 80202 | 1-800-FINDJOB</p>
</footer>
