<header class="header">
  <img src="/assets/job_search.jpg" alt="Job Search">
  <div id="hmenu">
    <ul>
      <li><%= link_to "HOME",     "/"         %></li>
      <li><%= link_to "ABOUT",    "/about"    %></li>
      <li><%= link_to "MENU",     "/menu"     %></li>
      <li><%= link_to "CONTACT",  "/contact"  %></li>
      <input type="text" id="login_info" name="login" value="" placeholder="Email">
      <input type="password" id="login_info" name="password" value="" placeholder="Password">
      <input type="submit" id="login_info" name="commit" value="Login">
      <input type="submit" id="login_info" name="commit" value="Register">
    </ul>
  </div>
</header>
